h1 Titulo de la pagina
h2 subtitulo

div
  p contenido del parrafo 

div 
  a(href="http://google.com" class='', id='') Google.com
  a#enlaceYoutube.enlaceYT.links(href="http.//www.youtube.com") Enlace youtube

div
  p= name
  p me llamo #{name}

div 
  if avaiable 
    p esta disponible 
  else 
    p no esta disponible