extends layout

block content
  .row
    .col-12.col-md-6 
      p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur sapiente fuga, ducimus laboriosam temporibus vitae eum harum iste, laudantium dolorem atque praesentium ex odio libero, aspernatur fugiat velit labore laborum!
    .col-12.col-md-6
      p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laudantium incidunt repudiandae est delectus corporis quidem, natus accusantium inventore libero! Quidem, eaque! Vel reiciendis obcaecati ea praesentium optio vitae, iure consequuntur.

  .row 
    .col-12.col-md-3.offset-md-3
      .card(style="width: 18rem;")
        img.card-img-top(src="..." alt="...")
        .card-body
          h5.card-title Card title
          p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
          a.btn.btn-primary(href="#") Go somewhere
    .col-12.col-md-3  
      .card(style="width: 18rem;")
        img.card-img-top(src="..." alt="...")
        .card-body
          h5.card-title Card title
          p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
          a.btn.btn-primary(href="#") Go somewhere
